.meetVideoContainer{
    position: relative;
    height: 100vh;
    background: black;
}

.meetUserVideo{
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}
.buttonContainers{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg{
    font-size: 3rem;
}

.conferenceView{
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
}

.conferenceView video{
    width: 20vw;
    height: 20vh;
    min-width: 10vw;
    border-radius: 20px;
}

.chatRoom{
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;

}

.chatContainer{
    position: relative;
    height: 100%;

}
.chattingArea{
    position: absolute;
    bottom: 0;
    padding-bottom: 3px;
    
}

.chattingDisplay{
    
}